/* About section styles */
#about {
  background-color: #f9f9f9;
  padding: 2rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

ul {
  font-size: 1.2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}
